/*1. General Styles*/
html{
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

button{
  float: right;
  margin: 8px;
  padding: 10px 20px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: rgb(101, 255, 216);

    grid-column: 1 / -1;  /* from first column to last */
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  grid-gap: 1rem;
}

.featured-post {
  display: flex;
  position: relative;
  align-items:flex-start; /* align top edges */
  gap: 20%;               /* space between text and image */
  background-color: lightgreen;
  padding: 2%;
  border: 2px solid black;

}

.featured-post .category{
    color:green;
}
.posts img{
    position: absolute;
    top: 0;      /* distance from the top of the container */
    right: 0;    /* distance from the right edge */
    width: 20%;
    height: 100%;
    margin: 0%;
    border-radius: 10%;
}
.chat{
    margin: 5%;
    align-items: center;
    padding: 2%;
    background-color: lightyellow;
}
/*2. Navbar*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Ensure the icon link is hidden on large screens */
@media screen and (min-width: 601px) {
  .topnav a.icon {
    display: none;
    float: right;
  }
}


/*3. Chat*/

#chat-messages {
  height: 250px;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Hide the timestamp (first child) */
#chat-messages>p>span:nth-child(1) {
  display: none;
}

/* Style the name/author (second child) */
#chat-messages>p>span:nth-child(2) {
  font-weight: bold;
  color: turquoise;
}

/*4. Skills Section Styles*/

.container {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: rgb(116, 194, 92);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.html {
  width: 80%;
  background-color: red;
}

.php {
  width: 60%;
  background-color: lightblue;
}

/*Media Queries*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the icon. */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
  
  /* The "responsive" class is added with JavaScript (menu.js) */
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}